@mixin ellipsis()
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

@mixin absolute($left, $top, $width, $height)
  position: absolute
  top: #{$top}px
  left: #{$left}px
  width: #{$width}px
  height: #{$height}px

@mixin font-size($size)
  font-size: #{$size}px
  line-height: #{$size}px

$shadow-style: 0 0 5px 1px #A0A0A0

$type-back-veryeasy: rgba(127, 255, 127, 1)
$type-back-easy: rgba(127, 255, 255, 1)
$type-back-medium: rgba(255, 255, 127, 1)
$type-back-hard: rgba(255, 127, 127, 1)
$type-back-veryhard: rgba(127, 127, 127, 1)
$type-back-unknown: rgba(255, 255, 255, 1)

@mixin type-back-gradient($color)
  background: linear-gradient(90deg, rgba($color, 1), rgba($color, 0))

@mixin type-button($color)
  background-color: $color
  border: 1px solid darken($color, 50%)
  &:hover
    background-color: lighten($color, 10%)
  &.buttonActive
    background-color: darken($color, 10%)
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3) inset

body
  background-color: #F0F0FF

#musicDetail
  position: fixed
  width: 900px
  height: 120px
  top: 20px
  left: 50%
  margin-left: -450px
  z-index: 2
  background-color: #FFFFFF
  border-radius: 5px
  box-shadow: $shadow-style
  color: #000000

  .noMusic
    @include absolute(0, 45, 900, 30)
    @include font-size(30)
    text-align: center

  .banner
    @include absolute(10, 10, 200, 53)
    background-color: #000000
  .preview
    @include absolute(10, 80, 200, 30)
    audio
      width: 200px

  .genre
    @include absolute(220, 10, 470, 20)
    @include font-size(16)
    @include ellipsis()
  .title
    @include absolute(220, 30, 470, 32)
    @include font-size(28)
    @include ellipsis()
    .subtitle
      margin-left: 12px
      font-size: 20px
  .artist
    @include absolute(220, 64, 470, 20)
    @include font-size(16)
    @include ellipsis()
  .subartists
    @include absolute(220, 88, 470, 20)
    @include font-size(16)
    @include ellipsis()
    border-top: 1px solid #000000
    padding-top: 5px
    .key
      font-size: 12px
      margin-right: 5px
    .name
      margin-right: 10px

  .difficulty
    @include absolute(710, 10, 180, 100)
    .label
      @include font-size(12)
      height: 16px

    .buttonContainer
      display: flex
      flex-flow: row nowrap
      margin-bottom: 14px
      height: 25px
      line-height: 25px

      .button
        cursor: pointer
        flex-grow: 1
        text-align: center
        &:first-child
          border-top-left-radius: 3px
          border-bottom-left-radius: 3px
        &:last-child
          border-top-right-radius: 3px
          border-bottom-right-radius: 3px
      .buttonVeryEasy
        @include type-button($type-back-veryeasy)
      .buttonEasy
        @include type-button($type-back-easy)
      .buttonMedium
        @include type-button($type-back-medium)
      .buttonHard
        @include type-button($type-back-hard)
      .buttonVeryHard
        @include type-button($type-back-veryhard)
      .buttonUnknown
        @include type-button($type-back-unknown)

  .vr
    @include absolute(700, 15, 1, 90)
    background-color: #000000

#chartDetail
  position: fixed
  width: 850px
  top: 140px
  left: 50%
  margin-left: -425px
  z-index: 1
  background-color: #FFFFFF
  border-bottom-left-radius: 5px
  border-bottom-right-radius: 5px
  box-shadow: $shadow-style
  color: #000000
  transition-property: height
  transition-duration: 0.6s
  overflow: hidden
  .typeColor
    @include absolute(0, 0, 160, 120)
  .typeColorVeryEasy
    @include type-back-gradient($type-back-veryeasy)
  .typeColorEasy
    @include type-back-gradient($type-back-easy)
  .typeColorMedium
    @include type-back-gradient($type-back-medium)
  .typeColorHard
    @include type-back-gradient($type-back-hard)
  .typeColorVeryHard
    @include type-back-gradient($type-back-veryhard)
  .typeColorUnknown
    @include type-back-gradient($type-back-unknown)
  .mode
    @include absolute(10, 15, 150, 30)
    @include font-size(14)
    text-align: center
  .chartName
    @include absolute(10, 35, 150, 30)
    @include font-size(18)
    text-align: center
  .level
    @include absolute(10, 60, 150, 60)
    @include font-size(48)
    text-align: center
  .bpmNotes
    @include absolute(180, 94, 400, 30)
    @include font-size(16)
    .prefix
      margin-right: 5px
      font-size: 14px
    .content
      margin-right: 20px
      .bpmMin
        font-size: 14px
        &:after
          content: "-"
          margin: 0px 2px
      .bpmMax
        font-size: 14px
        &:before
          content: "-"
          margin: 0px 2px
  #playButton
    @include absolute(760, 50, 80, 60)
    cursor: pointer
    border: 1px solid #000000
    border-radius: 5px
    background-color: #00FF00
    line-height: 60px
    font-size: 20px
    text-align: center
    text-shadow: 0px 0px 5px #FFFFFF
  .levelVr
    @include absolute(170, 15, 1, 90)
    background-color: #000000

.chartDetailInvisible
  height: 0px
.chartDetailVisible
  height: 120px

#container
  position: absolute
  left: 50%
  width: 900px
  margin-left: -450px
  margin-top: 150px
  margin-bottom: 40px

#musicList, #localMusicList
  padding: 0px 30px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  margin-left: auto
  margin-right: auto

  .musicContainer
    width: 400px
    height: 70px
    margin: 10px
    position: relative
    background-color: #FFFFFF
    border-radius: 5px
    box-shadow: $shadow-style
    color: #000000
    cursor: pointer

    .title
      line-height: 20px
      width: 300px
      height: 30px
      font-size: 20px
      position: absolute
      top: 10px
      left: 10px
      @include ellipsis()

      .subtitle
        margin-left: 12px
        font-size: 14px

    .artist
      position: absolute
      height: 14px
      line-height: 14px
      font-size: 14px
      top: 45px
      left: 10px

//@media (max-width: 900px)
  #music_detail

  #container
    width: 450px
    margin-left: -225px
  #music_list, #local_music_list
    justify-content: center

#drop
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  z-index: 100
  background-color: rgba(0, 0, 0, 0.4)

#keyConfig
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  z-index: 90

  .background
    position: absolute
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    z-index: 91
    background-color: rgba(0, 0, 0, 0.4)

  .content
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 500px
    height: 400px
    margin: auto
    z-index: 92
    border-radius: 5px
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.6)
    background: url("asset/image/keyconfig.svg")
    background-color: #F0F0FF

    .buttons
      .button
        position: absolute
        cursor: pointer
        text-align: center
        z-index: 93

        &:hover
          background-color: rgba(255, 255, 255, 0.5)

      .buttonActive
        background-color: rgba(0, 0, 0, 0.5)

        &:hover
          background-color: rgba(0, 0, 0, 0.3)

    .ui
      position: absolute
      bottom: 30px
      width: 500px
      text-align: center

      .button
        margin-left: 10px
        margin-right: 10px
        padding: 5px
        border: 1px solid #000000
        border-radius: 3px
        cursor: pointer
        background-color: #E0E0EE

        &:hover
          background-color: #D0D0DD

#compatibilityWarning
  position: fixed
  z-index: 99
  bottom: 20px
  left: 0
  right: 0
  background-color: #eedc38
  padding: 20px
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.7)
  .message
    font-weight: bold
  .button
    cursor: pointer
    text-align: center
    width: 100px
    margin-top: 10px
    margin-left: auto
    padding: 5px
    border-radius: 5px
    background-color: #ffeeb1
    border: 1px solid #000000

#footer
  position: fixed
  z-index: 99
  bottom: 0
  left: 0
  right: 0
  height: 30px
  line-height: 20px
  font-size: 14px
  background-color: rgba(219, 231, 232, 0.8)
  display: flex
  padding: 0px 16px
  justify-content: space-between
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.5)

  .item, .itemButton
    padding: 5px 10px

  .itemButton
    color: #000000
    cursor: pointer
    text-decoration: none
    &:hover
      background-color: rgba(128, 128, 128, 0.3)

  .spacer
    flex-grow: 100
