#container
  margin: 10px
.judgeRow
  position: relative
  width: 300px
  height: 40px
  border-bottom: 1px solid #000000
.judgeRowMaxCombo
  border-top: 1px solid #000000
.judgeName
  position: absolute
  bottom: 0px
  left: 0px
  width: 100px
.judgeNumber
  position: absolute
  bottom: 0px
  right: 0px
  width: 200px
  font-size: 24px
  text-align: right
#music_name
  font-size: 24px
  margin-bottom: 4px
  border-bottom: 2px solid #000000
#tweet
  margin-top: 12px
  margin-bottom: 12px
#return_menu
  border: 5px outset
#score
  font-size: 24px
