doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="style/style.css")
    script(type="text/javascript" src="script/main.js")
    title Circular Rhythm ES
  body
    canvas#gameScreen
